.color-box--black {
    background-color: #18191F;
}
  
.color-box--dark-grey {
    background-color: #474A57;
}
  
.color-box--grey {
background-color: #969BAB;
}

.color-box--light-grey {
background-color: #D9DBE1;
}

.color-box--dark-white {
background-color: #EEEFF4;
}

.color-box--white {
background-color: #F4F5F7;
}

.color-box--dark-purple {
    background-color: #8C30F5;
}
.color-box--purple {
    background-color: #D6B1FF;
}
.color-box--light-purple {
    background-color: #F1E4FF;
}

.color-box--dark-turquoise {
    background-color: #2EC5CE;
}
.color-box--turquoise {
    background-color: #75E3EA;
}
.color-box--light-turquoise {
    background-color: #D5FAFC;
}
.color-box--dark-orange {
    background-color: #FE9A22;
}
.color-box--orange {
    background-color: #FFC278;
}
.color-box--light-orange {
    background-color: #FFE3C1;
}
.color-box--dark-pink {
    background-color: #F22BB2;
}
.color-box--pink {
    background-color: #FF72D2;
}
.color-box--light-pink {
    background-color: #FFB1E6;
}

.color-box--green {
 background-color: #C1E5C0;   
}
.color-box--blue {
 background-color: #C0DAE5;   
}
.color-box--peach {
 background-color: #F39F9F;   
}
.color-box--light-peach {
 background-color: #FDD9D9;   
}
.color-box--candy {
 background-color: #FFC3D8;   
}
.color-box--cyan {
 background-color: #A0DCFF;   
}
